header{
background-color: #eac926;
font-family:'Roboto';}
#barra{text-align:center;}
#compra{text-align:center;}
h3{text-align:center;}
  #Precios{font-size: 18px}
  #Titulares{font-size: 24px}
  #Descuento{font-size: 16px}
  #Descripciones{font-size: 16px}
  #Cuerposdetexto{font-size: 12px}
  li{text-align:justify}
footer{text-align:center}
#icono{color: #1259c3}
#logo{height:50%}
