body{
background-color: #eac926;
font-family:'Roboto';}
p{text-align:center;}
h3{text-align:center;}
  #Precios{font-size: 18px}
  #Titulares{font-size: 24px}
  #Descuentos{font-size: 16px}
  #Descripciones{font-size: 16px}
  #Cuerposdetexto{font-size: 12px}